@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: white; 
  color: black; 
}

.dark {
  background-color: #151515; 
  color: rgb(244 244 245);
}

.transition { 
  transition: ease 0.3s;
}

.diagonal-square {
  background: linear-gradient(45deg, #22C55E 50%, #166534 50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 0.7s ease infinite;
}

::-webkit-scrollbar{
  display: none;
}